<h1>Editing product</h1>

<!-- One way to add a 2nd column -->
<div style="float:left; width:40%">
	<%= render 'form' %>
</div>
<div style="float:left; width:60%">
	<h3>Assign CAT...egory</h3>

	<%= form_for(@product_category, url: assign_category_path) do |f| %>

		<% if @product_category.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@product_category.errors.count, "error") %> prohibited this product from being saved:</h2>

	      <ul>
	      <% @product.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>

		<%= f.hidden_field :product_id, value: @product.id %>
		<%= f.select :category_id, Category.all.map { |cat| [cat.name, cat.id] } %>
		<%= f.submit "Assign" %>
<!--	Instead of this:
	<input type="submit" value="Assign category" /> -->
	<% end %>

	<hr/>

	<% @product.categories.each do |cat| %>
		<%= cat.name %>
	<% end %>

</div>

<div style="clear:both;"></div>
<!-- end -->

<%= link_to 'Show', @product %> |
<%= link_to 'Back', products_path %>
