<div class="container">   

	<div class="row-fluid">
		<div class="content col-xs-12 col-sm-8 col-md-9 col-lg-8">

			<h1>We sell cat products!</h1>
			<%= render_breadcrumbs %><br>
			<!-- added for breadcrumbs -->
			<%= paginate @products %>
			<div class="row-fluid">
			<% i = 0 %>
			<% @products.each do |product| %>
				<div class="product col-md-4 text-center">
					<h3><%= product.name %></h3>
					<p><%= image_tag product.photo.url(:medium) %></p>
					<div class="description text-center">
						<%= product.description %>
					</div><!-- Description -->
					<div class="details text-center">
						<%= product.brand %></br>
						SKU: <%= product.sku %></br>
						Model#: <%= product.model_num %></br>
						<div class="price">
							<%= number_to_currency product.unit_price %>
						</div><!-- Price -->
					</div><!-- Details -->
					Qty: 
					<!-- Homework start -->
					<!-- <input type="hidden" class="product-id" value=" <%= product.id %>" /> -->
					<!-- Homework end -->

					<input type-"text" class="quantity" value="1" />
					<!-- <input type-"text" class="quantity" placeholder="Enter number" /> -->
					<button class="add-to-cart-button btn-info" data-product-id="<%=product.id %>"
					data-product-name="<%=product.name %>" data-unit-price="<%=product.unit_price %>">Add to Cart</button>
				</div><!-- End of product -->
				<% i += 1 %>
				<% if i != 0 && i % 3 == 0 %>
					</div><!-- End of product row -->	
					<div class="row-fluid">
					<% i = 0 %>
				<% end %><!-- End of if block -->
			<% end %><!-- End of each loop -->
			</div><!-- End of next row -->
			<%= paginate @products %>
		</div><!-- End of content -->

		<div class="sidebar col-xs-6 col-sm-4 col-md-3 col-lg-4">
			<div class="search-box">
			  <div class="form-group">
			  	<div class="input-group">
				    <input type="text" class="form-control" placeholder="Search">
				    <span class="input-group-btn">
				     <button type="submit" class="btn btn-warning pull-right">GO</button>
				    </span>
				   </div>
			  	<%= image_tag "010572-antique-glowing-copper-orb-icon-animals-animal-cat-print.png", :title => "Thundercats paw print bubble", :style => "width:50px" %>

			   
			  </div><!-- End of form-group -->
			</div><!-- End of search box -->
    	
    	<div class="cart">
				<h4>Your Cart</h4>
				<div id="cart_msg">
					<%= render 'cart' %>
				</div><!-- end of cart_msg div -->
			</div> <!-- end of cart div -->
		</div> <!-- end of sidebar div -->

	</div><!-- End of content and sidebar row -->

</div><!-- End of container -->