<!DOCTYPE html>
<html>
<head>
  <title>Thundercats</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    "bootstrap-theme", media: "all", "data-turbolinks-track" => true %>

	<!-- Mystery Quest font style starts here -->
<link href='http://fonts.googleapis.com/css?family=Wendy+One' rel='stylesheet' type='text/css'>
  <!-- Mystery Quest font style ends here -->

</head>


<body>
<!-- header -->
<div class="navbar navbar-default navbar-fixed-top">
	<div class="container" id="top_bar">
		<div id="login_notice">
			<% if user_signed_in? %>
				Hi, <%= current_user.email %>
				<%= link_to "Products", products_path %>
				<%= link_to "Log Out", destroy_user_session_path, method: "delete" %>
			<% end %>
		</div> <!-- end of login_notice -->

		<div>
		  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		  </button>
		</div> <!-- end of navbar button -->

		<div>
			<%= notice %><br/>
			<%= alert %>
		</div>

	</div> <!-- end of top_bar container -->
</div> <!-- end of navbar div -->
<br><br><br>

<div id="header">
	<div class="container navbar-header">
    <%= image_tag "Cat-Black-icon.png", :title => "Thundercats products for cats and cat lovers", :style => "width:70px" %>
		<%= link_to "Thundercats", root_path, :class => "wendy_one" %>

   	<div id="nav_links" class="navbar-collapse collapse active">
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to "PRODUCTS", products_path %></li>
      </ul>
	  </div> <!-- end of nav links -->

	</div> <!-- end of header container div -->
</div> <!-- end of header div -->

<!-- main -->
<div class="container">

	<div id="content">



  </div> <!-- end of content div -->

  <div id="sidebar">

  </div> <!-- end of sidebar div -->

	<%= yield %>
	<!--
	This is where your code from main > about_us.html.erb goes
		-->
</div> <!-- end of container div -->


<!-- footer -->
<div id="footer">Copyright © 2013 Xymone<br>
All rights reserved
</div>

</body>
</html>
