<!DOCTYPE html>
<html>
<head>
  <title>Thundercats</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Classroom ecommerce project for Ruby on Rails" />
	<meta name="author" content="Keala Tyler" />

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    "bootstrap-theme", media: "all", "data-turbolinks-track" => true %>

	<!-- Mystery Quest font style starts here -->
<link href='http://fonts.googleapis.com/css?family=Wendy+One' rel='stylesheet' type='text/css'>
  <!-- Mystery Quest font style ends here -->


</head>


<body>
<!-- header -->
<div class="navbar">
	<div class="container" id="top_bar">
		<div id="login_notice">
			<% if user_signed_in? %> 
				Hi, <%= current_user.email %>
				<%= link_to "Products", products_path %> 
				<%= link_to "Orders", orders_index_path %> 
				<%= link_to "Log Out", destroy_user_session_path, method: "delete" %>
			<% end %>

				<%= notice %>
				<%= alert %>

		</div> <!-- end of login_notice -->

		<div class="cart_n_button">
			<div> <!-- navbar button -->
			  <button type="button" class="navbar-inverse navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			  	<span class="sr-only">
	    		Toggle navigation
					</span>
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
			  </button>
			</div> <!-- end of navbar button -->

			<div>
				<span class="glyphicon glyphicon-shopping-cart" style="text-align: center;"><br>
					Items</span>

			</div> <!-- end of shopping-cart glyphicon -->
		</div> <!-- end of cart_n_button -->
	</div> <!-- end of top_bar container -->


	<div id="header">
		<div class="container navbar-header">
			<div class="pull-left">
		    <%= image_tag "Cat-Black-icon.png", :title => "Thundercats products for cats and cat lovers", :style => "width:70px" %>
				<%= link_to "Thundercats", root_path, :class => "wendy_one" %>
				<%= image_tag "paw_prints2.png", :title => "Thundercats paw prints", :class => "paw-prints" %>
			</div>

	   	<div id="nav_links" class="navbar-collapse collapse active">
	      <ul class="nav navbar-nav pull-right">
	      	<li><%= link_to "All products", root_path %></li>
	      	<% Category.order('name asc').each do |category| %>
						<li><%= link_to category.name, products_by_category_path(category.name) %></li>
						<!-- Don't need the curly brackets because this is the last hash. Just pass in category.name (remove category_name:). You're just passing in a single parameter.  -->
					<% end %>
	      </ul>
		  </div> <!-- end of nav links -->

		</div> <!-- end of navbar-header container div -->
	</div> <!-- end of header div -->
</div> <!-- end of navbar div -->

<!-- main -->
<div class="container">

			<%= yield %>

</div> <!-- end of main container div -->


<!-- footer -->
<div id="footer">
	<div class="left">Copyright © <%= Time.now.year %> Xymone. All rights reserved.
	</div><!-- class left -->
	<div class="right">
		<%= link_to "Have a question? Contact us!", store_contact_us_path %>
	</div><!-- class right -->
</div><!-- footer -->

</body>
</html>
